

/*
#botonera-login {
    color: #fff;
    font-weight: bold;
    padding-top: 0px;
    justify-content: space-between;
    display: flex;
}

*/

#botonera-login-mobile {                                                
    position: absolute;
    display: none;
}


#menu-mobile i {
    color: #b3b2b4;
    padding: 2px;
    margin: 5px;
    cursor: pointer;
    font-size: 45px !important;
}          

#close-menu-mobile{
    color: #fff;
    padding: 10px;
    background-color: #111110;
    width: 100%;
    text-align: right;
    cursor: pointer;
}

#botonera-texto-mobile {
    display: none;
    color:#fff;

    position: absolute;
    height: 100%;
    width: 100%;
    z-index: 1000;
    overflow-x: hidden;
    overflow-y: auto;
    max-width: 0px;
    transition-property: all;
    transition-duration: .5s;
    transition-timing-function:ease-in-out;

    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: flex-start;    
}

#botonera-texto-mobile .seccion-login{
    width: 100%;
    background-color: #111110;
}
#botonera-texto-mobile .seccion-menus{
    width: 100%;
    height:150%;
    background-color: #2a3140;
    padding-top: 30px;
}

#botonera-texto-mobile li{
    font-size: 20px;
    padding: 10px 25px;
}

#botonera-texto-mobile a{
    line-height: 30px;
    display: flex;
    align-items: center;
}

#botonera-texto-mobile li a span{
    position: absolute;
    left:70px;
}

.menu-cliente-mobile{
    color: #fff;
    display: flex;
    flex-direction: column;
    font-size: 13px;
    padding-left: 60px;
    position: relative;
}

.ul-botones-mobile{
    display: none !important;
}
.ul-botones-mobile img{
    height: 50px;
}


#texto-carro-mob{
    display: none;
}

.ul-carrito{
    display: none;
}

@media screen and (min-width: 670px) and (max-width: 1100px){ /*Tablet*/

/*
    #botonera-login {
        justify-content: center;
    }*/

}
@media screen and (max-width: 670px){ /*Cel*/
    
/*
    #botonera-login {

        justify-content: flex-start;
        overflow-y: hidden;
        max-height: 0px;

        transition-property: all;
        transition-duration: .5s;
        transition-timing-function:ease-in-out;

    }




    #botonera-login ul {
        flex-direction: column;
    }
*/
    #ver_menu {
        align-items: flex-start;
        flex-direction: column-reverse !important;
    }
    #menu-mobile i {
        display: block;
    }

    .open{
        max-width: 670px !important;
    }

    #botonera-texto-mobile{
        display: flex;
    }

    #botonera-login-mobile {
        display: block; /*menu 3 rayas*/
        top: 0px;
        right: 0px;
    }

    .limitar-body{
        overflow-y: hidden;
    }


    #menu{
        display: none;
    }


    .ul-botones-mobile{
        /*display: flex!important;*/
        display: none!important; /*loc bulonera*/
        justify-content: space-around !important;
        width: 85% !important;
        margin: 0 auto;
        margin-bottom: 15px;
    }
    .txt-mob{
        min-width: 200px;
        margin-left: 40px;
        display:block !important;
    }

    .carro-mob{
        /*display:block !important; loc bulonera*/
            display: flex !important;
    }

    #logo-texto{
        display: none;
    }
    #texto-carro-mob{
        display: flex;
    }

    #btn-Area{
        display: none;
    }
    .ico-mob{
        font-size: 30px !important;
        color: #111110 !important;
    }
}